main {
  min-height: 80vh;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Poppins", sans-serif;
}
.navbar {
  background-color: #007bff;
  height: auto;
}

.logo-container {
  position: relative;
  width: 100px; /* Adjust according to your logo size */
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo_Image {
  max-width: 80px;
  max-height: 80px;
}

.orbit {
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #ff9800;
  border-radius: 50%;
  top: 5;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: orbit-animation 2s linear infinite;
}

@keyframes orbit-animation {
  0% {
    transform: rotate(0deg) translateX(50px) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translateX(50px) rotate(-360deg);
  }
}

.footer {
  background: #007bff;
  height: 4vw;
  color: white;
}

.rating span {
  margin: 0.1rem;
}

.rating svg {
  color: #f8e825;
}

.rating-text {
  font-size: 0.8rem;
  font-weight: 600;
  padding-left: 0.5rem;
}

.product-title {
  height: 2.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

table td,
table th {
  text-align: center;
}

.review {
  margin-top: 30px;
}

.review h2 {
  font-size: 24px;
  background: #f4f4f4;
  padding: 10px;
  border: 1px solid #ddd;
}

.review button {
  margin-top: 10px;
}

.carousel-caption {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}

.create_product--btn,
.productScreen_Back--btn {
  background-color: #ff9800;
  color: black;
}
.profilescreen--order_details,
.orderlist_details--btn,
.productScreen__form--btn {
  background-color: #ff9800;
}

.productScreen_addToCart--btn,
.cartScreen_cheackout--btn,
.shippingScreen_continue--btn {
  background-color: #ff9800;
}

.paymentScreen_continue--btn,
.placeOrderScreen_order--btn,
.profileScreen_update--btn {
  background-color: #ff9800;
}

.productEditScreen_goBack--btn,
.productEditScreen_update--btn {
  background-color: #ff9800;
}

.productCreateScreen__goBack--btn,
.productCreateScreen__create--btn {
  background-color: #ff9800;
}
.userEditScreen__goBack--btn,
.userEditScreen__update--btn,
.orderScreen__markDeliver--btn {
  background-color: #ff9800;
}

.table-container {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: auto;
  border: 1px solid #ddd;
  padding: 5px;
}

.table-container thead {
  position: sticky;
  top: 0;
  background: white;
  z-index: 10;
}
